################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MvcCoreBookstore/.vs/MvcCoreBookstore/v16
/MvcCoreBookstore/bin/Debug/netcoreapp3.1
/MvcCoreBookstore/obj
