@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Bookstore</h1>
        <p class="lead text-muted">
            Bacon ipsum dolor amet beef ribs tongue corned beef porchetta, short loin chuck biltong kielbasa salami rump burgdoggen. Sirloin venison hamburger drumstick cupim chuck short ribs tri-tip bresaola ham chicken tongue tail.        </p>
        <p><a href="#" class="btn btn-primary my-2">Search Books</a></p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3>Top Books</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"></svg>
                    <div class="card-body">
                        <p class="card-text">Small description of the book</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Details</a>
                            </div>
                            <small class="text-muted">Author Name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"></svg>
                    <div class="card-body">
                        <p class="card-text">Small description of the book</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Details</a>
                            </div>
                            <small class="text-muted">Author Name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"></svg>
                    <div class="card-body">
                        <p class="card-text">Small description of the book</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Details</a>
                            </div>
                            <small class="text-muted">Author Name</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>