@using MvcCoreBookstore.Enums
@model BookModel
@{
    ViewData["Title"] = "AddNewBook";
    bool isSuccess = ViewBag.isSuccess;
}

<div class="container">
    <h3 class="display-4">Add a New Book</h3>
    <hr />
    @if (isSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> You have added a new book successfully! <br/>
            Click <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.BookId">here</a> to view details
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <form method="post" asp-action="AddNewBook" asp-controller="Book">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input class="form-control" asp-for="Title" />

                </div>
                <div class="form-group">
                    <label asp-for="Author"></label>
                    <input class="form-control" asp-for="Author" />

                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea class="form-control" asp-for="Description"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Pages"></label>
                    <input class="form-control" asp-for="Pages" />

                </div>
                <div class="form-group">
                    <label asp-for="LanguageId"></label>
                    <select class="form-control" asp-for="LanguageId" asp-items="@ViewBag.languageList" multiple>
                        
                    </select>

                </div>
                <div class="form-group"><input class="btn btn-primary" type="submit" value="Add" /></div>
            </div>
            <div class="col-md-6">
                <div id="ErrorBox" class="text-white bg-danger mb-3" asp-validation-summary="All" style="padding: 0px 10px;"></div>
            </div>
        </div>
</form>
</div>
